.contact{
    height: 20%;
    width: 100%;
}

.contact_info{
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:100%;
  width:100;
}

.vertical_line{
  width: 20%; 
  
  transform:rotate(-90deg); 
  transform-origin: center; 
  border: 1px white solid;
  top:0;
}

.email {
  display:flex;
  font-size:xx-large;
}
.email h4{
  font-size:large;
}

.insta {
  display:flex;
  font-size:xx-large;
}

.insta h4{
  font-size:large;
}



.Footer{
    width: auto;
    height: 150px;
    background-color: #4F2A7F;
  }

.footerText{
    width: 100%;
    text-align: left;
    font-size: xx-large;
    padding-left: 1%;
    font-family: 'Berkshire Swash';
    text-align:right;
  }

.footer_background{
    display:flex;
    width:100%;
    justify-content : space-between;
  }

.all_rights{
    text-align:center;
  }