.core_com h1{
    font-family: 'Berkshire Swash';
    font-size: xxx-large;
    position:relative;
}

.adv_com h1{
    font-family: 'Berkshire Swash';
    font-size: xxx-large;
    position:relative;
}